html{
    margin: 0;
    padding: 0;
    font-family: quicksand;
    --orange: #BA3801;
    --blue: #4A69B3;
    --butter: #FFEC89;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

header ul{
    display: flex;
    gap: 30px;
}

header ul li{
    list-style: none;
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 800px;
    gap:80px;
    padding: 80px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero-text button{
    width: 100px;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: #BA3801;
    color: white;
    font-family: quicksand;
}

.hero-img{
    display: flex;
    flex:1;
    text-align: center;
    background-color: var(--butter);
    height: 200px;
    align-items: center;
    justify-content: center;
    color: black;
}

.big-container{
    background-color:var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}