html{
    margin: 0;
    padding: 0;
    font-family: quicksand;
    --orange: #BA3801;
    --blue: #4A69B3;
    --butter: #FFEC89;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

header ul{
    display: flex;
    gap: 30px;
}

header ul li{
    list-style: none;
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 800px;
    gap:80px;
    padding: 80px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero-text button, .cta button{
    width: 100px;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: #BA3801;
    color: white;
    font-family: quicksand;
}

.hero-text p{
    margin-bottom: 20px;
}

.hero-img{
    display: flex;
    flex:1;
    text-align: center;
    background-color: var(--butter);
    height: 200px;
    align-items: center;
    justify-content: center;
    color: black;
}

.big-container{
    background-color:var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

.gallery{
    background: #FFEC89;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

.gallery-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.gallery-img{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #BA3801;
}

.quote-section{
    background-color: #4A69B3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    color: white;
}

.quote{
    font-size: 1.75rem;
    margin: 0;
    font-style: italic;
}

.author{
    font-size: 1.2rem;
    margin-top: 10px;
    margin-right: -200px;
}

.cta-container{
    background-color: var(--butter);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.cta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    background-color: #BA3801;
    padding: 30px;
    border-radius: 10px;
    color: white;
}

.cta button{
    background-color: #4A69B3;
}

.cta h3, .cta p{
    margin: 5px;
}